/chapter02vue/node_modules/*
/chapter03/node_modules/*
/chapter04/node_modules/*
/chapter05/node_modules/*
/chapter06/node_modules/*
/chapter07/node_modules/*
/chapter08/node_modules/*
/chapter09/node_modules/*
/chapter11/node_modules/*